<%- include('partials/_header') %>

 <p>ESTAMOS EN EL WORK</p><br>
 <p>funciona</p>

 <form action="/upload" method="POST">
  <select name="periodo"> 
    <option>Periodo</option>
    <option value="agosto">Agosto</option>
    <option value="septiembre">Septiembre</option>
  </select>
  <button type="submit" >examinar</button>
 </form>


</body>
</html> 

<!-- <input type="file" name="file" id="fileInput" > -->
<!-- enctype="multipart/form-data" -->